@font-face {
    font-family: 'Huawei Sans Regular';
    src: url('../webfonts/HuaweiSans.eot');
    src: url('../webfonts/HuaweiSans.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/HuaweiSans.woff2') format('woff2'),
        url('../webfonts/HuaweiSans.woff') format('woff'),
        url('../webfonts/HuaweiSans.ttf') format('truetype'),
        url('../webfonts/HuaweiSans.svg#HuaweiSans') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Fourche Bold';
    src: url('../webfonts/SFFourche-Bold.eot');
    src: url('../webfonts/SFFourche-Bold.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/SFFourche-Bold.woff2') format('woff2'),
        url('../webfonts/SFFourche-Bold.woff') format('woff'),
        url('../webfonts/SFFourche-Bold.ttf') format('truetype'),
        url('../webfonts/SFFourche-Bold.svg#SFFourche-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

body {
  background: #000000;
  font-family: 'Huawei Sans Regular';
  color: #ffffff;
}

.container {
	max-width: 1230px !important;
}

.huawei_wrapper {
	padding: 80px 0;
}

.huawei_wrapper h2 {
    font-size: 45px;
    text-align: center;
    margin: 0;
    padding-bottom: 30px;
}

.huawei_wrapper h2 span {
	color: #CE0E2D;
	font-family: 'SF Fourche Bold';
}

.huawei_wrapper .huawei_item {
	border-radius: 7px;
	overflow: hidden;
	position: relative;
	margin-top: 30px;
}

.huawei_wrapper .huawei_item figure {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.huawei_wrapper .huawei_item:hover figure img {
	transform: scale(1.10);
}

.huawei_wrapper .huawei_item figure img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.4s all ease-in-out;
}

.huawei_wrapper .huawei_item .huawei_content {
    padding: 15px;
    background: #ffffff14;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: calc(100% - 40px);
    margin: 20px;
    backdrop-filter: blur(50px);
    border-radius: 5px;
}

.huawei_wrapper .huawei_item .huawei_content ul {
    list-style: none;
    margin: 0 0 0 0px;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    height: 0;
    transition: 0.4s all ease-in-out;
}

.huawei_wrapper .huawei_item:hover .huawei_content ul {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    height: 35px;
    margin: 0 0 15px 0;
}

.huawei_wrapper .huawei_item .huawei_content ul li {
	display: inline-block;
}

.huawei_wrapper .huawei_item .huawei_content ul li a {
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(244 244 244 / 26%);
    border-radius: 50%;
    margin: 0 1px;
    color: #e0dddd;
    font-size: 13px;
    text-decoration: none;
    transition: 0.4s all ease-in-out;
}

.huawei_wrapper .huawei_item .huawei_content ul li a:hover {
	background: #000000;
	color: #ffffff;
	border: 1px solid #000000;
}

.huawei_wrapper .huawei_item .huawei_content h3 {
    font-size: 23px;
    font-weight: 700;
}

.huawei_wrapper .huawei_item .huawei_content h3 a {
		color: #ffffff;
		text-decoration: none;
}

.huawei_wrapper .huawei_item .huawei_content p {
    margin: 0;
    font-size: 13px;
    color: #CE0E2D;
}